*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

@font-face{
    font-family: montserrat;
    src: url(fonte/Montserrat-Regular.ttf);
}

body{
    font-family: montserrat;
}

header{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    align-items: center;
}
.links{
    color: white;
}

