header{
    background-color: black;
}

.logo{
    width: 100%;
    margin-left: 10px;
    font-size: 2.5vh;
}

.links{
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 35px;
    right: 0;
    width: 100%;
    padding: 0 10px;
    color: white;
    z-index: 2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease, padding 0.3s ease;
}
.links li{
    margin-top: 13px;
    font-size: 2.5vh;
}
.links.active{
    max-height: 27vh;
    padding: 10px;
}
.menu-icon{
    display: block;
    margin-right: 10px;
}
.menu-icon:target{
    transform: rotate(180deg);
}
.bio{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.titulo{
    font-size: 3.3vh;
}

#backfront{
    font-size: 2.3vh;
}

#linguagens{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 2.3vh;
    list-style: inside;
}
.subtitulo{
    font-size: 2.4vh;
    margin-bottom: 10px;
}

.animation{
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
}
#MLT-animation{
    color: white;
    font-size: 8vh;
}
.animation div {
    width: 150px;
    height: 150px;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    animation-name: mlt;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
  
@keyframes mlt {
    0%   {left: 1%; transform: rotate(0deg);}
    25%  {left: 64%; transform: rotate(180deg);}
    50%  {left: 1%; transform: rotate(360deg);}
    75%  {left: 64%; transform: rotate(180deg);}
    100% {left: 1%; transform: rotate(0deg);}
}

.index-explicacao{
    font-size: 2.6vh;
    margin-bottom: 20px;
    white-space: normal;
}

.rodape p{
    color: lightgrey;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.section-redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
}
.redes{
    margin: 7px;
}

.animation-explicacao{
    display: block;
    width: 100%;
 
}
.animation-explicacao p{  
    width: 100%;
    display: block;    
    animation-name: entrando;
    animation-duration: 3s;
    overflow: hidden;
    animation-fill-mode: forwards;
    min-width: 100%;
    transform-origin: left;
}

@keyframes entrando{
    from {max-width: 0; display: none; opacity: 0;}
    to   {max-width: 100%; display: block; opacity: 1;}
}
