@font-face {
    font-family: montserrat;
    src: url(Montserrat-Regular.ttf);
}

html{
    font-family: montserrat;
}

.menu{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 7%;
    flex-direction: row;
    position: fixed;

}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.acessar_section{
    margin-left: 7%;
    margin-right: 7%;
}.acessar{
    font-size: 16px;
}.acessar:link{
    color: white;
}.acessar:visited{
    color: white;
}

body{
    margin: 0px;
}

.titulo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.sobremim{
    width: 70%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.contatos p{
    margin: 3px;
    color: gray;
}.contatos a:link{
    color: gray;
}
.contatos a:visited{
    color: gray;
}

.arquivos{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.linguagens_section{
    display: flex;
    flex-direction: row;
}
.linguagens{
    margin-left: 35px;
    margin-right: 35px;
}
.trabalhos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.explicacao{
    width: 70%;
    display: flex;
    flex-direction: column;
}.imgtrabalho{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-left: 5%;
    margin-right: 5%;
}.imgtrabalho img{
    width: 100%;
    border: 3px solid gray;
    border-radius: 20px;
}.titulotrabalho{
    width: 80%;
    font-size: 110%;
}
.trabalhos_abrir{
    display: flex;
    flex-direction: row;
    width: 70%;
}
.exibir{
    border: 2px solid gray;
}

.exibir h2{
    z-index: 1;
}

.exibir img{
    /* display: none; */
    z-index: 2;
}
.exibir:hover img{
    display: block;

}

.exibir {
    display: flex;
}

.exibir .escolher{
    width: 100%;
    background-color: black;
    display: block;
    float: left;
    position: relative;
    left: 0;
}


/* Rodape */
.controle-rodape{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
}

footer p{
    background-color: black;
}

.controle-rodape footer nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: 30px;
    background-color: black;
}

.redes{
    display: flex;
    flex-direction: row;
}

.redes a{
    width: 60px;
}

.redes img{
    margin-left: 15px;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    color: white;
}
.creditos_section{
    display: flex; 
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.creditos{
    color: gray;
    margin: 0;
}
/* -- */

/* Hover */
.acessar_section:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.linguagens:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.exibir:hover{
    background-color: rgba(0, 0, 0, .5);
    transition: 0.3s;
}

/* Phone */
@media screen and (min-width: 343px) and (max-width:767px){
    .conteudo{
        text-align: center;
    }
}

/* -- */